<tr>
  <td><%= link_to "##{challenge.tag}", round_path(challenge), :id => "round_link_#{challenge.tag}",
                  'data-tag' => challenge.tag %></td>
  <td><%= challenge.title %></td>
  <td><%= challenge.date %></td>
  <td style="text-align: center;"><%= challenge.images.size %></td>
  <td style="text-align: center;"><%= challenge.total_votes %></td>
</tr>