<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag "application" %>
  <link href="<%= stylesheet_path css_colour %>" rel="stylesheet" id="colour_css_tag" type="text/css"/>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>

<body>
<div id="main">
  <div id="links">
    <a href="http://www.flickr.com/groups/twphch">Flickr-gruppe</a>
  </div>
  <div id="logo"><h1>Twitter Photo Challenge</h1>

    <h2>&quot;Arkivet - 92 ukentlige runder&quot;</h2></div>
  <div id="menu">
    <ul>
      <li><%= link_to I18n.t('main.rounds.link'), rounds_path, :id => 'archive_link', :class => "ajaxable #{class_for_page_name(controller, 'archive')}" %></li>
      <li><%= link_to I18n.t('main.first_year.link'), first_year_index_path, :id => '52_link', :class => "ajaxable #{class_for_page_name(controller, '52')}" %></li>
      <li><%= link_to I18n.t('main.best_of.link'), best_of_index_path, :id => '92_link', :class => "ajaxable #{class_for_page_name(controller, '92')}" %></li>
      <li><%= link_to I18n.t('main.about.link'), about_index_path, :id => 'about_link', :class => "ajaxable #{class_for_page_name(controller, 'about')}" %></li>
    </ul>
  </div>
  <div id="content">
    <div id="column1">
      <div id="tags_div">
        <% if (@tags) %>
            <%= render :partial => '/tags' %>
        <% end %>
      </div>
      <div id="photographer_div">
        <% if (@photographer) %>
            <%= render :partial => '/photographer' %>
        <% end %>
      </div>
      <div id="statistics_div">
        <% if (@data) %>
            <%= render :partial => '/stats' %>
        <% end %>
      </div>
    </div>
    <div id="column2">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title), :id => 'content_title' if show_title? %>
      <div id="page_content">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
    <%= link_to image_tag('blue.png'), url_for(:colour => 'blue'), 'data-colour' => 'blue', :class => 'colour_changer' %>
    <%= link_to image_tag('green.png'), url_for(:colour => 'green'), 'data-colour' => 'green', :class => 'colour_changer' %>
    <%= link_to image_tag('orange.png'), url_for(:colour => 'orange'), 'data-colour' => 'orange', :class => 'colour_changer' %>
    <%= link_to image_tag('purple.png'), url_for(:colour => 'purple'), 'data-colour' => 'purple', :class => 'colour_changer' %>
    |
    <a href="http://www.dcarter.co.uk">design by dcarter</a>
  </div>
</div>
</body>
</html>
